@model int

@{
    ViewData["Title"] = "Thank you";
}

<h1 class="text-success">Thank you</h1>
<h2 class="text-success">Your request was just succesfully stored in database and email was sent. </h2>

<p>
    <strong>Record's ID of your submission:</strong> <code>@Model</code>
</p>